# MongoDB Atlas Connection URI
# e.g., mongodb+srv://<username>:<password>@cluster0.mongodb.net/portfolio?retryWrites=true&w=majority
MONGODB_URI=

# Secret Admin Panel Passcode (PIN/Password to enter /admin)
ADMIN_PASSCODE=rahul2148

# Emergency Master Recovery Key (used to reset passcode if forgotten)
ADMIN_RECOVERY_KEY=RAHUL-RECOVER-2026-SECRET
